<div class="row col-sm-12" id="paginator">
    <div class="text-center">
        <ul class="pagination">
            {% for i in paginator.page_range %}
            {% if i == page_obj.number %}
            <li class="active"><a href="#" onclick="change_page({{i}})" rel="{{ i }}">{{ i }}</a></li>
            {% else %}
            <li><a href="#" onclick="change_page({{i}})" rel="{{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% if search_size and not disalbe_button_search %}
        <div class="inline-form pull-right pagination">
            <button class="btn btn-default" onclick="toggle_search_box()"><i class="glyphicon glyphicon-search"></i></button>
        </div>
        {% endif %}
    </div>
    {# hidden input to keep the page number #}
    {{ search_page }}
</div>

